@charset "utf-8";

/* 共通部分 */
body {background-color: #000; color: #FFF;}

form {margin-top: 0px; margin-bottom: 0px;}

*.shipping_img {width: 100%; height: auto;}

*.table_php {font-size: small; text-align: center; border-collapse: collapse; background-color: #FFF; color: #000; table-layout: auto;}
*.table_php tr:nth-child(even){background-color: #CCC;}
*.table_php tr:hover{background-color: #0FF;}
*.table_php td{padding: 3px; border: 1px #000 solid; overflow-wrap: break-word; word-wrap: break-word;}
*.table_php_title {font-weight: bold; background-color: #FF0;}
*.link_ec {font-weight: bold; color: #F00; text-decoration: none; white-space: nowrap;}
*.set_title {color: #0FF; font-weight: bold;}
*.link_close {font-weight: bold; margin: 10px auto; text-align: center;}
*.link_close a{color: #FFF;}
*.price1 {text-decoration: line-through;}
*.footer_text_t {display: table; font-size: small; color: #FF0;}
*.footer_text_c1 {display: table-cell; vertical-align: top; text-align: left; width: 20px;}
*.footer_text_c2 {display: table-cell; vertical-align: top;}
*.footer {margin: 5px auto; text-align: center;}
/* カテゴリ内バナー */
*.th_top_b {margin: 10px auto; text-align: center; background-color: #FFF;}
*.th_top_b a:hover img {opacity: 0.7;}

/* スマートフォン用CSS */
@media screen and (max-width: 479px) {
	*.sp_none, *.icon_pc_table, *.pc_img {display: none;}
	*.shipping_free, *.set_title, *.set_maker, *.maker_icon, *.camp_b, *.footer_text_t {width: 99%; margin: 10px auto;}
	*.table_php {width: 99%; margin: 10px auto; font-size: xx-small;} 
	*.icon_sp_table {display: table; width: 99%; margin: 5px auto;}
	*.icon_sp_cell {display: table-cell; width: 20%; text-align: center;}
	*.sp_button {width: 98%; height: auto;}
	*.camp_b img{width: 100%; height: auto;}
	*.footer {width: 99%; font-size: xx-small; color: #0FF;}
	/* カテゴリ内バナー */
	*.th_top_b img{width: 100%; height: auto;}
}

/* PC用CSS */
@media screen and (min-width: 480px) {
	*.icon_sp_table, *.sp_img {display: none;}
	*.shipping_free, *.size_text, *.set_title, *.table_php, *.set_maker, *.maker_icon, *.icon_pc_table, *.camp_b, *.footer_text_t {width: 900px; margin: 10px auto;}
	*.icon_pc_table {display: table;}
	*.icon_pc_cell {display: table-cell; width: 10%; text-align: center;}
	*.footer {width: 900px; font-size: small;}
	/* カテゴリ内バナー */
	*.th_top_b {width: 900px;}
}