/* タイヤ・ホイール館 */

/* 共通部分 */
.th_table_link_b {display: table;}
.th_tire_price {margin-top: 3px; text-align: center;}
.th_tire_price img{width: 250px; height: auto; margin: 0 auto 0;}
.th_table_cell_c {text-align: center;}
.th_yeti_table_price_re {text-decoration: line-through; color: #000; font-weight: normal;}

/* 雪だるまくんリンク */
.th_yukidaruma_link {color: #000; text-decoration: none;}
.th_yukidaruma_link:hover {color: #00F;}

/* 雪だるまくん 貨物タイトル */
.th_yukidaruma_kamotsu {font-weight: bold; color: #0FF; margin: 5px auto 2px; text-align: center;}

/* 注釈用 */
.th_footer_730_text {font-size: small; color: #FF0; padding-left: 10px; margin: 2px auto 2px;}

/* カテゴリ内バナー */
*.th_top_b {margin: 0 auto;	text-align: center;	background-color: #FFF;}
*.th_top_b a:hover img {opacity: 0.7;}

/* レビュー */
*.th_review_main {margin-top: 5px;}
*.th_review_mini {display: table;}
*.th_review_mini_cell {display: table-cell;}

/* SP表示部分 */
@media screen and (max-width: 479px) {
	/* PC非表示 */
	.th_youtube_pc, .th_yeti_price_pc, .th_wheel_m_top_cell_sp_none, .th_index_hr_pc, .th_index_table_pc, .pc_img {display: none;}
	/* 画像サイズ処理 */
	.th_tire_img {width: 100%; height: auto;}
	.sp_img_100p {width: 100%; height: auto;}
	.th_back {width: 100%; background-color: #000; padding: 0 0 10px;}
	.th_title_730 {margin: 3px auto 5px; width: 100%; table-layout: fixed; text-align: center;}
	.th_comm_730_b {padding: 2px; color: #0FF; font-weight: bold;}
	.th_comm_730 {padding: 2px; color: #FFF; font-size: small;}
	.th_comm_bar_00f {width: 100%; margin: 5px auto 3px; background-color: #00F; color: #FFF; font-weight: bold; font-size: small;}
	.th_comm_bar_3px {padding: 3px;}
	.th_hr {height: 1px; width: 100%; color: #FFF; margin: 7px auto;}
	.th_youtube_sp {width: 100%; margin: 3px auto 3px;}
	/* テーブル */
	.th_table_comm {padding: 2px; font-size: small;}
	.th_table_comm_l5 {padding: 1px 1px 1px 5px; font-size: small;}
	.th_yeti_price_sp {width: 100%; margin: 2px auto 2px;}
	.th_yeti_table_sp {width: 100%; margin: 1px; color: #000; font-size: small; text-align: center; background-color: #FFF; border-collapse: collapse;}
	.th_yeti_table_sp td{border: solid 1px #333; padding: 1px; font-size: x-small; width: 20%;}
	.th_yeti_table_title_sp {background-color: #FF0; font-weight: bold;}
	.th_yeti_table_price {color: #F00;}
	.th_yeti_table_title {font-weight: bold; background-color: #FF0;}
	.th_table_2w_yukidaruma {width: 100%; margin: 1px; color: #000; font-size: small; text-align: center; background-color: #FFF; border-collapse: collapse;}
	.th_table_2w_yukidaruma td{border: solid 1px #333; padding: 1px; font-size: small; width: 33%;}
	.th_table_cell_c {margin-bottom: 5px;}
	.th_table_cell_c img{width: 98%; height: auto;}
	.th_top_2w {display: table; width: 100%; margin: 0 auto 0;}
	.th_top_2w_cell {display: table-cell; width: 50%; text-align: center;}
	.th_top_2w_cell img{width: 99%; height: auto;}
	/* ホイール メーカーTOP */
	.th_wheel_m_top_cell {margin-top: 3px;}
	/* ホイール index */
	.th_index_title {font-weight: bold; margin-top: 5px; marigin-left:3px;}
	.th_index_table_sp {display: table; width: 100%; margin: 2px auto 2px;}
	.th_index_cell {display: table-cell; width: 50%; text-align: center;}
	.th_index_cell img{width: 97%; height: auto;}
	/* タイヤ メーカーTOP ブランド一覧表示 */
	.th_maker_top_list2 {display: table; width: 100%; font-size: small; text-align: center; margin: 5px auto;}
	.th_maker_top_list_cell2 {display: table-cell; width: 50%; vertical_align: top;}
	.th_maker_top_list_cell2 img{width: 98%; height: auto;}
	.th_form_180 {width: 98%; height: auto;}
	.th_hr_sp {margin: 5px auto; height: 1px; border: 0; color: #333;}
	/* カテゴリ内バナー */
	.th_top_b img{width: 100%; height: auto;}
	/* レビュー */
	.th_review_main {text-align: center; font-weight: bold; color: #F00;}
	.th_review_main img{width: 80%; height: auto;}
	.th_review_mini {width: 99%;}
	.th_review_mini_cell {width: 50%; font-size: small;}
	.th_review_mini_cell img{width: 80%; height: auto;}
}

/* PC表示部分 */
@media screen and (min-width: 480px) {
	/* PC非表示 */
	.th_youtube_sp, .th_yeti_price_sp, .th_index_table_sp, .th_hr_sp, .sp_img {display: none;}
	.th_back {width: 750px;	background-color: #000;	padding: 0 0 10px;}
	.th_title_730 {margin: 3px auto 5px; width: 730px; table-layout: fixed;}
	.th_comm_730_b {margin: 5px auto 3px; width: 730px; color: #0FF; font-weight: bold;}
	.th_comm_730 {margin: 2px auto 2px; width: 730px; color: #FFF; font-size: small;}
	.th_comm_bar_00f {width: 730px; margin: 5px auto 3px; background-color: #00F; color: #FFF; font-weight: bold; font-size: small;}
	.th_comm_bar_3px {padding: 3px;}
	.th_hr {height: 1px; width: 730px; color: #FFF; margin: 7px auto;}
	/* テーブル */
	.th_table {display: table; width: 730px; margin: 5px auto 3px;}
	.th_table_photo_350 {display: table-cell; width: 350px; vertical-align: top;}
	.th_table_photo_365 {display: table-cell; width: 365px; vertical-align: top;}
	.th_table_photo_330_c {display: table-cell; width: 330px; vertical-align: top;}
	.th_table_photo_405 {display: table-cell; width: 405px; vertical-align: top;}
	.th_table_cell {display: table-cell; vertical-align: top;}
	.th_table_cell_c {display: table-cell; vertical-align: top;}
	.th_table_cell_mod {display: table-cell; vertical-align: top;}
	.th_table_comm {padding-left: 5px; padding-bottom: 3px; font-size: small;}
	.th_table_comm_l5 {padding: 1px 1px 1px 5px; font-size: small;}
	.th_yeti_price_pc {width: 730px; margin: 3px auto 3px;}
	.th_yeti_table {width: 100%; margin: 1px; color: #000; font-size: small; text-align: center; background-color: #FFF; border-collapse: collapse;}
	.th_yeti_table td{border: solid 1px #333; padding: 1px; font-size: small; width: 10.55%;}
	.th_yeti_table_title {font-weight: bold; background-color: #FF0;}
	.th_yeti_table_price {color: #F00; font-weight: bold;}
	td.th_yukidaruma_table {font-weight: bold; background-color: #FF0; width: 5%;}
	.th_table_2w {display: table; width: 730px; margin: 0 auto 0;}
	.th_table_2w_cell {display: table-cell; width: 50%;}
	.th_table_2w_yukidaruma {width: 100%; margin: 1px; color: #000; font-size: small; text-align: center; background-color: #FFF; border-collapse: collapse;}
	.th_table_2w_yukidaruma td{border: solid 1px #333; padding: 1px; font-size: small; width: 33%;}
	.th_top_2w {display: table; width: 730px; margin: 0 auto 0;}
	.th_top_2w_cell {display: table-cell; width: 50%; text-align: center;}
	.th_top_2w_cell img{width: 360px; height: auto;}
	/* YouTube動画 */
	.th_youtube_pc {width: 730px; margin: 3px auto 3px;}
	/* 画像サイズ */
	.th_tire_img {width: 345px; height: auto;}
	/* 注釈用 */
	.th_footer_730_text {width: 730px; margin: 2px auto 2px;}
	/* ホイール メーカーTOP */
	.th_wheel_m_top_table {display: table; width: 730px; margin: 3px auto 3px;}
	.th_wheel_m_top_table a:hover img{opacity: 0.7;}
	.th_wheel_m_top_cell {display: table-cell; width: 50%; text-align: center;}
	.th_wheel_m_top_cell_sp_none {display: table-cell; width: 50%;}
	.th_wheel_m_top_cell img{width: 360px; height: auto;}
	/* ホイール index */
	.th_index_title {font-size: large; font-weight: bold; padding-top: 5px; padding-left:3px;}
	.th_index_hr {height: 1px; width: 750px; color: #FFF; margin: 7px auto;}
	.th_index_hr_pc {height: 1px; width: 750px; color: #FFF; margin: 7px auto;}
	.th_index_table_pc {display: table; width: 100%; margin: 0px auto 0px;}
	.th_index_cell {display: table-cell; width: 33%; text-align: center;}
	/* タイヤ メーカーTOP ブランド一覧表示 */
	.th_maker_top_list {display: table; width: 730px; font-size: small; text-align: center; margin: 5px auto;}
	.th_maker_top_list_cell {display: table-cell; width: 50%;}
	.th_maker_top_list2 {display: table; width: 100%;}
	.th_maker_top_list_cell2 {display: table-cell; width: 50%; vertical_align: top;}
	.th_maker_top_list_cell2 img{width: 180px; height: auto;}
	.th_form_180 {width: 180px; height: auto;}
	/* カテゴリ内バナー */
	.th_top_b {width: 730px;}
	/* レビュー */
	*.th_review_main {margin-left: 50px; font-size: x-large; font-weight: bold; color: #F00;}
	*.th_review_mini {margin-left: 70px;}
}