/* タイトルバナー 製品情報 駆動系 */

.pr_title_1 {padding: 3px; font-weight: bold;}
.pr_title_2 {padding: 5px 10px 1px; font-size: small; font-weight: bold;}
.pr_title_hr {height: 1px; width: 100%; color: #FFF; margin: 1px 1px 5px;}

/* 強化クラッチキット（ノンアスディスク） */
.pr_title_ck_n {margin: 1px 5px 1px; background: url(img/title/ck_n_2.gif); width: 540px; height: 45px;}
.pr_title_ck_n a {display: block;}
.pr_title_ck_n img {border: none;}
.pr_title_ck_n a:hover img {visibility: hidden;}

/* 強化クラッチキット（メタルディスク） */
.pr_title_ck_m {margin: 1px 5px 1px; background: url(img/title/ck_m_2.gif); width: 515px; height: 45px;}
.pr_title_ck_m a {display: block;}
.pr_title_ck_m img {border: none;}
.pr_title_ck_m a:hover img {visibility: hidden;}

/* 強化クラッチキット（カッパーフェーシング） */
.pr_title_ck_k {margin: 1px 5px 1px; background: url(img/title/ck_k_2.gif); width: 595px; height: 45px;}
.pr_title_ck_k a {display: block;}
.pr_title_ck_k img {border: none;}
.pr_title_ck_k a:hover img {visibility: hidden;}

/* ビッグキャパオペレーティングシリンダー */
.pr_title_op {margin: 1px 5px 1px; background: url(img/title/op_2.gif); width: 541px; height: 45px;}
.pr_title_op a {display: block;}
.pr_title_op img {border: none;}
.pr_title_op a:hover img {visibility: hidden;}

/* 強化ピボット */
.pr_title_pv {margin: 1px 5px 1px; background: url(img/title/pv_2.gif); width: 226px; height: 45px;}
.pr_title_pv a {display: block;}
.pr_title_pv img {border: none;}
.pr_title_pv a:hover img {visibility: hidden;}

/* 超軽量鍛造クロモリフライホイール */
.pr_title_fw {margin: 1px 5px 1px; background: url(img/title/fw_2.gif); width: 497px; height: 45px;}
.pr_title_fw a {display: block;}
.pr_title_fw img {border: none;}
.pr_title_fw a:hover img {visibility: hidden;}

/* デフメンバーカラー */
.pr_title_dmc {margin: 1px 5px 1px; background: url(img/title/differential_member_c_2.gif); width: 302px; height: 45px;}
.pr_title_dmc a {display: block;}
.pr_title_dmc img {border: none;}
.pr_title_dmc a:hover img {visibility: hidden;}

/* デフメンバースペーサー＆マウント */
.pr_title_se {margin: 1px 5px 1px; background: url(img/title/se_2.gif); width: 485px; height: 45px;}
.pr_title_se a {display: block;}
.pr_title_se img {border: none;}
.pr_title_se a:hover img {visibility: hidden;}

/* スマートフォン用CSS */
@media screen and (max-width: 479px) {
	/* SP非表示 */
	.pr_title_pc {display: none;}
	.pr_title_sp {padding: 1px; width: 100%;}
	.pr_title_sp img{width: 100%; height: auto;}
	.pr_title_2 {color: #0FF;}
}

/* PC用CSS */
@media screen and (min-width: 480px) {
	/* PC非表示 */
	.pr_title_sp {display: none;}
}
