@charset "utf-8";
/* CSS Document */

/* コンテンツ背景 */
*.mag_back {background-color: #000;}

/* 見出し用フォント */
*.mag_title {font-weight: bold; padding: 3px;}

/* 通常テキスト */
*.mag_text {margin: 3px auto; padding: 2px;}
*.mag_text_f00 {margin: 3px auto; padding: 2px; color: #F00; font-weight: bold;}

/* TOPテーブル */
*.mag_table {display: table; font-weight: bold; margin: 10px auto;}
*.mag_table_c {display: table-cell; text-align: center; font-weight: bold; width: 50%;}
*.mag_table_c a{color: #FFF;}

/* 見出し部罫線 */
*.hr_mag {color: #FFF;}

/* Form用 */
*.form_tb {display: table; font-size: small;}
*.form_width {width: 100%;}

*.form_t_c { margin: 0px; padding: 0px;	font-size: 10px; color: #999;}

/* SP用CSS */
@media screen and (max-width: 479px) {
	/* SP非表示 */
	*.mag_text {width: 98%; font-size: small;}
	*.mag_text_f00 {width: 98%; font-size: small;}
	*.mag_table {width: 70%;}
	*.form_radio {padding-left: 10px;}
}


/* PC用CSS */
@media screen and (min-width: 480px) {
	/* コンテンツ背景 */
	*.mag_back {width: 750px; margin: 5px auto;}
	*.mag_text {width: 730px; font-size: small;}
	*.mag_text_f00 {width: 730px; font-size: small; text-align: center;}
	*.mag_table {width: 300px;}
	/* 見出し部罫線 */
	*.hr_mag {width: 740px; margin: 0 auto 5px;}
	/* Form用 */
	*.form_tb {width: 600px; margin: 10px auto;}
	*.form_cell_1 {display: table-cell; width: 150px; text-align: right; vertical-align: top;}
	*.form_cell_2 {display: table-cell; padding-left: 10px;}
	*.hr_form_600 {width: 600px; margin-top: 3px; margin-bottom: 3px; border-width: 1px 0 0 0; border-style: solid; border-color: #CCC; height: 1px;}
	/* thanksページ */
	*.mag_thanks_title {margin-top: 5px; margin-bottom: 5px; font-size: large; font-weight: bold; color: #F00; text-align: center;}
	*.mag_thanks_text {font-size: small; text-align: center;}
}