/* タイトルバナー 製品情報 ボディ補強 */

.pr_title_1 {padding: 3px; font-weight: bold;}
.pr_title_2 {padding: 5px 10px 1px; font-size: small; font-weight: bold;}
.pr_title_hr {height: 1px; width: 100%; color: #FFF; margin: 1px 1px 5px;}

/* COOLPOWER SUCTION KIT */
.pr_title_kf {margin: 1px 5px 1px; background: url(img/title/kf_2.gif); width: 377px; height: 45px;}
.pr_title_kf a {display: block;}
.pr_title_kf img {border: none;}
.pr_title_kf a:hover img {visibility: hidden;}

/* アルミインテークパイプ */
.pr_title_ikp {margin: 1px 5px 1px; background: url(img/title/ikp_2.gif); width: 352px; height: 45px;}
.pr_title_ikp a {display: block;}
.pr_title_ikp img {border: none;}
.pr_title_ikp a:hover img {visibility: hidden;}

/* PIPING SYSTEM */
.pr_title_ikp_302 {margin: 1px 5px 1px; background: url(img/title/ikp_302_2.gif); width: 251px; height: 45px;}
.pr_title_ikp_302 a {display: block;}
.pr_title_ikp_302 img {border: none;}
.pr_title_ikp_302 a:hover img {visibility: hidden;}

/* スマートフォン用CSS */
@media screen and (max-width: 479px) {
	/* SP非表示 */
	.pr_title_pc {display: none;}
	.pr_title_sp {padding: 1px; width: 100%;}
	.pr_title_sp img{width: 100%; height: auto;}
	.pr_title_2 {color: #0FF;}
}

/* PC用CSS */
@media screen and (min-width: 480px) {
	/* PC非表示 */
	.pr_title_sp {display: none;}
}
