@charset "utf-8";

/* 共通部分 */
*.set_menu_hw {display: table; font-size: small;}
*.set_menu_hw1 {display: table-cell; width: 30px; text-align: right;}
*.set_menu_hw2 {display: table-cell;}
*.set_menu_n_title {color: #0FF; font-size: large; font-weight: bold; margin: 1px auto;}
*.set_menu_n_title_cell {color: #0FF; font-size: large; font-weight: bold; margin: 1px auto;}
*.set_menu_n_cell {font-size: small;}
*.set_menu_n_text {background-color: #333; padding: 3px;}
*.set_menu_n_text_0f0 {color: #0F0; font-size: small; font-weight: bold; padding: 3px;}
*.set_menu_n_info {padding: 5px;}
*.set_menu_n_info_title {font-weight: bold;}
*.set_menu_n_info_text {margin: 2px;}
*.set_menu_n_info_text_r {margin: 2px; text-align: right;}
*.set_menu_n_info_text_r0ff {margin: 2px; color: #0FF; text-align: right;}
*.set_menu_n_info_text_al {margin: 2px; text-align: right;}
*.set_menu_n_cell_0f0_b {font-weight: bold; color: #0F0; margin-bottom: 2px;}
*.set_menu_n_cell_0ff_b {font-weight: bold; color: #0FF; margin-bottom: 2px;}
*.set_menu_hr {height: 1px;}
*.text_top_m1 {margin-top: 1px;}
*.set_table_link_text {color: #FF0; font-size: small; text-align: right;}
*.set_youtube {margin: 5px auto; text-align: center;}
*.set_youtube_sp {margin: 5px auto; text-align: center;}

/* 罫線 */
*.set_menu_hr_100p {width: 100%; height: 1px; margin: 3px auto;}

/* テキスト部分仕様など */
*.set_text_spec_title {font-weight: bold; margin-left: 2px; margin-top: 3px;}
*.set_text_spec_lm7 {margin-left: 7px; margin-top: 2px;}
*.set_maker_hp {width: 730px; margin: 2px auto 2px; font-size: small; font-weight: bold; text-align: right;}
*.set_maker_hp a{color: #FFF;}
*.set_maker_hp a:hover{color: #00F;}
*.set_price {font-weight: bold; text-align: center; padding: 2px;}
*.set_price_left {font-weight: bold; padding: 2px;}
/* 車輌メーカー別リンク */
*.set_car_maker_cell {display: table-cell; text-align: center; padding: auto;}
*.set_car_maker_title {font-size: large; font-weight: bold;}
*.set_car_maker_title_n {font-size: small; text-align: right;}
*.set_car_maker_title_n a{color: #FFF;}
*.set_car_maker_title_n a:hover{color: #00F;}
*.set_car_maker_name {font-weight: bold; color: #0F0; margin: 1px auto;}
*.set_car_name {font-weight: bold; font-size: small; margin: 1px auto;}
*.set_car_name_text {margin: 1px auto;}

/* リンク */
a.link_set {color: #F00;}
a.link_set:hover {color: #00F;}
*.set_order {margin: 3px; text-align: center;}
*.set_order img{width: 150px;}

/* 文頭タイトル */
*.set_text_title {display: table;}
*.set_text_title_700 {display: table; font-size: small;}
*.set_text_title_30 {display: table-cell; width: 30px; text-align: right; vertical-align: top;}
*.set_text_title_35 {display: table-cell; width: 35px; text-align: right; vertical-align: top;}
*.set_text_title_40 {display: table-cell; width: 40px; text-align: right; vertical-align: top;}
*.set_text_title_ather {display: table-cell; vertical-align: top;}

/* 段落用 */
*.set_list_720,*.set_list_710 {font-size: small;}

/* Campバナー */
*.set_top_b {margin: 2px auto; text-align: center;}

/* Camp時の元値消し線 */
*.set_1st_price {text-decoration: line-through;}

/* スマートフォン用CSS */
@media screen and (max-width: 479px) {
	*.set_menu_title,*.set_none,*.set_maker_hp,*.set_car_maker_link, *.set_maker_table, *.set_2way_cell_sp_none, *.set_youtube, *.set_tire_a_cell2, *.top_set_title_pc, *.top_set_tb, *.top_set_new_cell2 {display: none;}
	*.set_menu_title_sp {font-size: large; font-weight: bold; color: #0FF; margin: 2px;}
	*.sale_back {width: 100%; background-color: #000; padding: 0 0 10px;}
	*.set_menu_table,*.set_menu_photo img {width: 100%; height: auto;}
	*.set_menu_text,*.set_menu_text_700 {padding: 2px; font-size: small;}
	*.set_menu_text_690 {margin-bottom: 5px; padding: 2px; font-size: small;}
	/* テーブル処理 */
	*.set_table {width: 100%; margin: 1px; color: #000; font-size: x-small; text-align: center; background-color: #FFF; border-collapse: collapse;}
	*.set_table td {border: solid 1px #333; padding: 1px;}
	*.set_table_title {font-weight: bold;	background-color: #FF0;}
	*.set_table_title_r2 {background-color: #FFC;}
	*.set_table_line {background-color: #CCC;}
	*.set_table_sp_text {color: #F00;}
	*.set_table_link_text {font-size: x-small;}
	*.set_menu_n_200 {text-align: center;}
	*.set_menu_n_200 img{width: 200px;}
	*.set_menu_n_225 {text-align: center;}
	*.set_menu_n_225 img{width: 220px;}
	*.set_menu_n_300 {text-align: center;}
	*.set_menu_n_300 img{width: 300px;}
	*.set_menu_n_330 {text-align: center;}
	*.set_menu_n_330 img{width: 100%;}
	*.set_menu_n_330_order {text-align: center;}
	*.img328 {width: 100%;}
	*.set_menu_n_title_150 {text-align: right; padding-right: 2px; margin-bottom: 2px;}
	*.set_menu_n_title_150 img{width: 150px; text-align: right;}
	/* 2列テーブル */
	*.set_table_2way {width: 100%; margin: 1px; color: #000; font-size: x-small; text-align: center; background-color: #FFF; border-collapse: collapse;}
	*.set_table_2way td {border: solid 1px #333; padding: 1px;}
	/* 車輌メーカー別リンク */
	*.set_car_maker_link_sp {display: table; width: 100%; margin: 1px auto 1px;}
	*.set_car_maker_title_n {margin-top: 3px;}
	*.set_car_name_text {font-size: x-small;}
	/* 設定車種メーカー */
	*.set_maker_table_sp {display: table; width: 99%; margin: 2px auto;}
	*.set_maker_cell_sp {display: table-cell; width: 20%; text-align: center;}
	*.set_maker_cell_sp img{width: 100%;}
	*.set_form_button_sp {width: 98%; height: auto;}
	/* 文頭タイトル */
	*.set_text_title_700 {margin-left: 3px;}
	/* 段落用 */
	*.set_list_720 {margin-top: 3px; margin-left: 3px;}
	*.set_list_710 {margin-top: 1px; margin-left: 6px;}
	/* campバナー用 */
	*.set_top_b img {width: 100%; height: auto;}
	/* カテゴリTOPメーカー */
	*.set_c_top_hr {height: 1px;}
	*.set_c_top_maker_2 {display: table; width: 100%;}
	*.set_c_top_maker_cell {display: table-cell; width: 50%; text-align: center;}
	*.set_c_top_maker_cell img{width: 100%; height: auto;}
	/* メーカーTOPロゴ用 */
	*.set_c_title {margin: 3px auto 3px; text-align: center; background-color: #FFF;}
	*.set_c_title img {width: 180px; height: 50px;}
	*.set_c_title_sp {font-size: large; font-weight: bold; color: #FF0; padding: 2px;}
	*.set_c_title_sp a {color: #FF0;}
	*.set_c_title_gif {padding-bottom: 3px;}
	*.set_c_title_gif img {width: 100%; height: auto;}
	/* Camp等一列バナー用 */
	*.set_camp_item_b img{width: 100%; height: auto;}
	/* YouTube用 */
	*.set_youtube_sp {width: 100%; height: auto;}
	/* アライメント測定・調整＋タイヤ組換えローテーションSET */
	*.set_tire_a_shop {margin: 0 auto; width: 100%; background-color: #F00; font-size: small; font-weight: bold; text-align: center;}
	*.set_tire_a_text {margin: 0 auto; width: 100%; padding: 2px; font-size: small;}
	*.set_tire_a_cell1 {width: 100%; text-align: center;}
	*.set_tire_a_cell1 img{width: 155px; height: auto;}
	*.set_tire_a_cell1_text {padding: 2px; width: 100%; text-align: left; font-size: small;}
	*.set_tire_a_cell2_sp {margin: 1px auto; width: 100%; text-align: center;}
	/* SETメニューTOPページ用 */
	*.top_set_title_sp {width: 100%; margin: 5px auto;}
	*.top_set_title_sp img{width: 100%; height: auto;}
	*.top_set_new_tb {display: table; margin: 3px auto; width: 100%;}
	*.top_set_new_cell1 {display: table-cell; text-align: center; width: 33%;}
	*.top_set_new_cell1 img{width: 99%; height: auto;}
	*.top_set_tb_sp {display: table; width: 100%; margin: 2px auto;}
	*.top_set_cell_sp {display: table-cell; width: 50%; text-align: center;}
	*.top_set_cell_sp img{width: 99%; height: auto;}
}

/* PC用CSS */
@media screen and (min-width: 480px) {
	*.set_menu_title_sp,*.set_car_maker_link_sp, *.set_maker_cell_none_img_sp, *.set_c_top_hr, *.set_c_title_sp, *.set_youtube_sp, *.set_tire_a_cell2_sp, *.icon_sp_table, *.top_set_title_sp, *.top_set_tb_sp, *.set_maker_table_sp {display: none;}
	*.sale_back {width: 750px; background-color: #000; margin: 0 auto; padding: 0 0 10px; }
	*.set_menu_title {width: 730px; margin: 0 auto;}
	*.set_menu_table {width: 730px; margin: 0 auto; display: table;}
	*.set_menu_text {width: 730px; margin: 0 auto; padding: 2px; font-size: small;}
	*.set_menu_text_700 {width: 700px; margin: 0 auto; padding: 2px; font-size: small;}
	*.set_menu_text_690 {width: 690px; margin: 0 auto 5px; padding: 2px; font-size: small;}
	/* テーブル処理 */
	*.set_table {width: 730px; margin: 3px auto; color: #000; font-size: small; text-align: center; background-color: #FFF; border-collapse: collapse;}
	*.set_table td {border: solid 1px #333; padding: 1px;}
	*.set_table_title {font-weight: bold;	background-color: #FF0;}
	*.set_table_title_r2 {background-color: #FFC;}
	*.set_table_line {background-color: #CCC;}
	*.set_menu_hw {width: 730px; margin: 2px auto;}
	*.set_table_link_text {width: 730px; margin: 2px auto 2px;}
	/* hr */
	*.set_menu_hr {width: 730px; margin: 3px auto 3px;}
	/* テーブル処理（通常） */
	/* 共通部分（基本テーブル） */
	*.set_menu_n {display: table; width: 730px; margin: 1px auto;}
	*.set_menu_n_200 {display: table-cell; vertical-align: top; width: 200px;}
	*.set_menu_n_225 {display: table-cell; vertical-align: top; width: 225px;}
	*.set_menu_n_300 {display: table-cell; vertical-align: top; width: 300px;}
	*.set_menu_n_330 {display: table-cell; vertical-align: top; width: 330px;}
	*.set_menu_n_330 img{width: 328px;}
	*.set_menu_n_330_order {display: table-cell; vertical-align: top; width: 330px;}
	*.img328 img{width: 328px;}
	*.set_menu_n_cell {display: table-cell; vertical-align: top;}
	*.set_menu_n_title {display: table; width: 730px;}
	*.set_menu_n_title_cell {display: table-cell; vertical-align: top;}
	*.set_menu_n_title_150 {display: table-cell; width: 150px; vertical-align: top;}
	/* 2列テーブル */
	*.set_2way {display: table; width: 730px; margin: 3px auto;}
	*.set_2way_cell {display: table-cell; width: 50%; vartical-align: tiop;}
	*.set_2way_cell_sp_none {display: table-cell; width: 50%; vartical-align: tiop;}
	*.set_table_2way {width: 100%; color: #000; font-size: small; text-align: center; background-color: #FFF; border-collapse: collapse;}
	*.set_table_2way td {border: solid 1px #333; padding: 1px;}
	/* 車輌メーカー別リンク */
	*.set_car_maker_link {display: table; width: 730px; margin: 1px auto 1px;}
	*.set_car_maker_table {display: table; width: 730px; margin: 1px auto 1px;}
	*.set_car_maker_title {display: table-cell;}
	*.set_car_maker_title_n {display: table-cell;}
	*.set_car_maker_name {width: 730px;}
	*.set_car_name {width: 730px;}
	*.set_car_name_text {width: 730px; font-size: small;}
	/* 設定車種メーカー */
	*.set_maker_table {display: table; width: 730px; margin: 2px auto 2px;}
	*.set_maker_cell {display: table-cell; widht: 12%; text-align: center;}
	*.set_maker_link_text {width: 730px; margin: 2px auto 2px;}
	/* 文頭タイトル */
	*.set_text_title_700 {width: 700px; margin: 3px auto 3px;}
	*.set_text_title_33p {display: table-cell; width: 33%; vertical-align: top;}
	*.set_text_title_50p {display: table-cell; width: 50%; vertical-align: top;}
	/* 段落用 */
	*.set_list_720 {width: 720px; margin: 3px auto 1px;}
	*.set_list_710 {width: 710px; margin: 1px auto 1px;}
	/* campバナー用 */
	*.set_top_b {widht: 730px;}
	/* カテゴリTOPメーカー用 */
	*.set_c_top_maker_4 {display: table; width: 730px; margin: 2px auto 2px;}
	*.set_c_top_maker_2 {display: table; width: 100%;}
	*.set_c_top_maker_cell {display: table-cell; width: 50%; text-align: center;}
	*.set_c_title {margin-left: 10px; margin-top: 3px;}
	*.set_c_title_gif {padding: 3px; text-align: center;}
	/* Camp等一列バナー用 */
	*.set_camp_item_b {width: 730px; margin: 0 auto;}
	/* YouTube用 */
	*.set_youtube {width: 720px; height: auto;}
	/* アライメント測定・調整＋タイヤ組換えローテーションSET */
	*.set_tire_a_shop {margin: 0 auto; width: 730px; background-color: #F00; font-size: x-large; font-weight: bold; text-align: center;}
	*.set_tire_a_text {margin: 0 auto; width: 730px; padding: 2px; font-size: small;}
	*.set_tire_a_table {display: table; margin: 3px auto; width: 730px; font-size: small;}
	*.set_tire_a_cell1 {display: table-cell; width: 155px; vertical-align: top;}
	*.set_tire_a_cell1_text {padding: 1px; width: 155px;}
	*.set_tire_a_cell2 {display: table-cell; text-align: center; vertical-align: middle;}
	/* SETメニューTOPページ用 */
	*.top_set_title_pc {width: 730px; margin: 5px auto;}
	*.top_set_new_tb {display: table; margin: 3px auto; width: 730px;}
	*.top_set_new_cell1 {display: table-cell; text-align: center; width: 25%; vertical-align: top; background-color: #FFF;}
	*.top_set_new_cell1 a:hover img{opacity: 0.7;}
	*.top_set_new_cell2 {display: table-cell; width: 25%; vertical-align: top; background-color: #333;}
	*.top_set_new_text {display: table; width: 100%; font-size: small; margin-top: 1px; margin-bottom: 1px;}
	*.top_set_new_text_1 {display: table-cell; width: 18px; text-align: center; vertical-align: top;}
	*.top_set_new_text_2 {display: table-cell;}
	*.top_set_new_text_2 a {color: #FFF;}
	*.top_set_new_text_2 a:hover {color: #00F;}
	*.top_set_tb {display: table; margin: 3px auto; width: 730px;}
	*.top_set_cell {display: table-cell; text-aling: center; width: 33%;}
	a.top_set_damper {display: inline-block; background: url(img/damper_2.gif);}
	a.top_set_damper img{border: none; width: 240px; height: 90px;}
	a.top_set_damper:hover img {visibility: hidden;}
	a.top_set_suspension {display: inline-block; background: url(img/suspension_2.gif);}
	a.top_set_suspension img{border: none; width: 240px; height: 90px;}
	a.top_set_suspension:hover img {visibility: hidden;}
	a.top_set_drive {display: inline-block; background: url(img/drive_2.gif);}
	a.top_set_drive img{border: none; width: 240px; height: 90px;}
	a.top_set_drive:hover img {visibility: hidden;}
	a.top_set_cooling {display: inline-block; background: url(img/cooling_2.gif);}
	a.top_set_cooling img{border: none; width: 240px; height: 90px;}
	a.top_set_cooling:hover img {visibility: hidden;}
	a.top_set_brake {display: inline-block; background: url(img/brake_2.gif);}
	a.top_set_brake img{border: none; width: 240px; height: 90px;}
	a.top_set_brake:hover img {visibility: hidden;}
	a.top_set_arm {display: inline-block; background: url(img/arm_2.gif);}
	a.top_set_arm img{border: none; width: 240px; height: 90px;}
	a.top_set_arm:hover img {visibility: hidden;}
	a.top_set_body {display: inline-block; background: url(img/body_2.gif);}
	a.top_set_body img{border: none; width: 240px; height: 90px;}
	a.top_set_body:hover img {visibility: hidden;}
	a.top_set_ex {display: inline-block; background: url(img/ex_2.gif);}
	a.top_set_ex img{border: none; width: 240px; height: 90px;}
	a.top_set_ex:hover img {visibility: hidden;}
	a.top_set_intake {display: inline-block; background: url(img/intake_2.gif);}
	a.top_set_intake img{border: none; width: 240px; height: 90px;}
	a.top_set_intake:hover img {visibility: hidden;}
	a.top_set_engine {display: inline-block; background: url(img/engine_2.gif);}
	a.top_set_engine img{border: none; width: 240px; height: 90px;}
	a.top_set_engine:hover img {visibility: hidden;}
	a.top_set_interior {display: inline-block; background: url(img/interior_2.gif);}
	a.top_set_interior img{border: none; width: 240px; height: 90px;}
	a.top_set_interior:hover img {visibility: hidden;}
	a.top_set_tire_wheel {display: inline-block; background: url(img/tire_wheel_2.gif);}
	a.top_set_tire_wheel img{border: none; width: 240px; height: 90px;}
	a.top_set_tire_wheel:hover img {visibility: hidden;}
	a.top_set_ch_ma {display: inline-block; background: url(img/chemical_maintenance_2.gif);}
	a.top_set_ch_ma img{border: none; width: 240px; height: 90px;}
	a.top_set_ch_ma:hover img {visibility: hidden;}
	a.top_set_other {display: inline-block; background: url(img/other_2.gif);}
	a.top_set_other img{border: none; width: 240px; height: 90px;}
	a.top_set_other:hover img {visibility: hidden;}
	/* カテゴリTOPメーカーLINK用 */
	/* KTS */
	a.set_top_kts  {display: inline-block; background: url(img/kts_2.gif);}
	a.set_top_kts img {border: none; width: 180px; height: 50px;}
	a.set_top_kts:hover img {visibility: hidden;}
	/* Hyperco Swift */
	a.set_top_hyperco_swift  {display: inline-block; background: url(img/hyperco_swift_2.gif);}
	a.set_top_hyperco_swift img {border: none; width: 180px; height: 50px;}
	a.set_top_hyperco_swift:hover img {visibility: hidden;}
	/* Apexi */
	a.set_top_apexi  {display: inline-block; background: url(img/apexi_2.gif);}
	a.set_top_apexi img {border: none; width: 180px; height: 50px;}
	a.set_top_apexi:hover img {visibility: hidden;}
	/* Aragosta */
	a.set_top_aragosta  {display: inline-block; background: url(img/aragosta_2.gif);}
	a.set_top_aragosta img {border: none; width: 180px; height: 50px;}
	a.set_top_aragosta:hover img {visibility: hidden;}
	/* BLITZ */
	a.set_top_blitz  {display: inline-block; background: url(img/blitz_2.gif);}
	a.set_top_blitz img {border: none; width: 180px; height: 50px;}
	a.set_top_blitz:hover img {visibility: hidden;}
	/* CUSCO */
	a.set_top_cusco  {display: inline-block; background: url(img/cusco_2.gif);}
	a.set_top_cusco img {border: none; width: 180px; height: 50px;}
	a.set_top_cusco:hover img {visibility: hidden;}
	/* ENDLESS */
	a.set_top_endless  {display: inline-block; background: url(img/endless_2.gif);}
	a.set_top_endless img {border: none; width: 180px; height: 50px;}
	a.set_top_endless:hover img {visibility: hidden;}
	/* ESPELIR */
	a.set_top_espelir  {display: inline-block; background: url(img/espelir_2.gif);}
	a.set_top_espelir img {border: none; width: 180px; height: 50px;}
	a.set_top_espelir:hover img {visibility: hidden;}
	/* FINAL KONNEXION */
	a.set_top_final_konnexion  {display: inline-block; background: url(img/final_konnexion_2.gif);}
	a.set_top_final_konnexion img {border: none; width: 180px; height: 50px;}
	a.set_top_final_konnexion:hover img {visibility: hidden;}
	/* Genb */
	a.set_top_genb  {display: inline-block; background: url(img/genb_2.gif);}
	a.set_top_genb img {border: none; width: 180px; height: 50px;}
	a.set_top_genb:hover img {visibility: hidden;}
	/* GP SPORTS */
	a.set_top_gpsports  {display: inline-block; background: url(img/gpsports_2.gif);}
	a.set_top_gpsports img {border: none; width: 180px; height: 50px;}
	a.set_top_gpsports:hover img {visibility: hidden;}
	/* HKS */
	a.set_top_hks  {display: inline-block; background: url(img/hks_2.gif);}
	a.set_top_hks img {border: none; width: 180px; height: 50px;}
	a.set_top_hks:hover img {visibility: hidden;}
	/* IDEAL */
	a.set_top_ideal  {display: inline-block; background: url(img/ideal_2.gif);}
	a.set_top_ideal img {border: none; width: 180px; height: 50px;}
	a.set_top_ideal:hover img {visibility: hidden;}
	/* JIC */
	a.set_top_jic  {display: inline-block; background: url(img/jic_2.gif);}
	a.set_top_jic img {border: none; width: 180px; height: 50px;}
	a.set_top_jic:hover img {visibility: hidden;}
	/* KYB */
	a.set_top_kyb  {display: inline-block; background: url(img/kyb_2.gif);}
	a.set_top_kyb img {border: none; width: 180px; height: 50px;}
	a.set_top_kyb:hover img {visibility: hidden;}
	/* LARGUS */
	a.set_top_largus  {display: inline-block; background: url(img/largus_2.gif);}
	a.set_top_largus img {border: none; width: 180px; height: 50px;}
	a.set_top_largus:hover img {visibility: hidden;}
	/* OHLINS */
	a.set_top_ohlins  {display: inline-block; background: url(img/ohlins_2.gif);}
	a.set_top_ohlins img {border: none; width: 180px; height: 50px;}
	a.set_top_ohlins:hover img {visibility: hidden;}
	/* OVERTECH */
	a.set_top_overtech  {display: inline-block; background: url(img/overtech_2.gif);}
	a.set_top_overtech img {border: none; width: 180px; height: 50px;}
	a.set_top_overtech:hover img {visibility: hidden;}
	/* RG */
	a.set_top_rg  {display: inline-block; background: url(img/rg_2.gif);}
	a.set_top_rg img {border: none; width: 180px; height: 50px;}
	a.set_top_rg:hover img {visibility: hidden;}
	/* RS☆R */
	a.set_top_rsr  {display: inline-block; background: url(img/rsr_2.gif);}
	a.set_top_rsr img {border: none; width: 180px; height: 50px;}
	a.set_top_rsr:hover img {visibility: hidden;}
	/* Street Ride */
	a.set_top_street_ride  {display: inline-block; background: url(img/street_ride_2.gif);}
	a.set_top_street_ride img {border: none; width: 180px; height: 50px;}
	a.set_top_street_ride:hover img {visibility: hidden;}
	/* Spiegel */
	a.set_top_spiegel  {display: inline-block; background: url(img/spiegel_2.gif);}
	a.set_top_spiegel img {border: none; width: 180px; height: 50px;}
	a.set_top_spiegel:hover img {visibility: hidden;}
	/* TANABE */
	a.set_top_tanabe  {display: inline-block; background: url(img/tanabe_2.gif);}
	a.set_top_tanabe img {border: none; width: 180px; height: 50px;}
	a.set_top_tanabe:hover img {visibility: hidden;}
	/* TEIN */
	a.set_top_tein  {display: inline-block; background: url(img/tein_2.gif);}
	a.set_top_tein img {border: none; width: 180px; height: 50px;}
	a.set_top_tein:hover img {visibility: hidden;}
	/* TRUST */
	a.set_top_trust  {display: inline-block; background: url(img/trust_2.gif);}
	a.set_top_trust img {border: none; width: 180px; height: 50px;}
	a.set_top_trust:hover img {visibility: hidden;}
	/* YOU ZEALAND BODY */
	a.set_top_you_zealand_body  {display: inline-block; background: url(img/you_zealand_body_2.gif);}
	a.set_top_you_zealand_body img {border: none; width: 180px; height: 50px;}
	a.set_top_you_zealand_body:hover img {visibility: hidden;}
	/* Acre */
	a.set_top_acre  {display: inline-block; background: url(img/acre_2.gif);}
	a.set_top_acre img {border: none; width: 180px; height: 50px;}
	a.set_top_acre:hover img {visibility: hidden;}
	/* BrakeQuip */
	a.set_top_brake_quip  {display: inline-block; background: url(img/brake_quip_2.gif);}
	a.set_top_brake_quip img {border: none; width: 180px; height: 50px;}
	a.set_top_brake_quip:hover img {visibility: hidden;}
	/* Project mu */
	a.set_top_project_mu  {display: inline-block; background: url(img/project_mu_2.gif);}
	a.set_top_project_mu img {border: none; width: 180px; height: 50px;}
	a.set_top_project_mu:hover img {visibility: hidden;}
	/* WEDS SPORT */
	a.set_top_weds_sport  {display: inline-block; background: url(img/weds_sport_2.gif);}
	a.set_top_weds_sport img {border: none; width: 180px; height: 50px;}
	a.set_top_weds_sport:hover img {visibility: hidden;}
	/* brembo */
	a.set_top_brembo  {display: inline-block; background: url(img/brembo_2.gif);}
	a.set_top_brembo img {border: none; width: 180px; height: 50px;}
	a.set_top_brembo:hover img {visibility: hidden;}
	/* DIXCEL */
	a.set_top_dixcel  {display: inline-block; background: url(img/dixcel_2.gif);}
	a.set_top_dixcel img {border: none; width: 180px; height: 50px;}
	a.set_top_dixcel:hover img {visibility: hidden;}
	/* D2JAPAN */
	a.set_top_d2japan  {display: inline-block; background: url(img/d2japan_2.gif);}
	a.set_top_d2japan img {border: none; width: 180px; height: 50px;}
	a.set_top_d2japan:hover img {visibility: hidden;}
	/* SHOWA TUNING */
	a.set_top_showa  {display: inline-block; background: url(img/showa_2.gif);}
	a.set_top_showa img {border: none; width: 180px; height: 50px;}
	a.set_top_showa:hover img {visibility: hidden;}
	/* XYZ JAPAN */
	a.set_top_xyz  {display: inline-block; background: url(img/xyz_2.gif);}
	a.set_top_xyz img {border: none; width: 180px; height: 50px;}
	a.set_top_xyz:hover img {visibility: hidden;}
	/* nismo */
	a.set_top_nismo  {display: inline-block; background: url(img/nismo_2.gif);}
	a.set_top_nismo img {border: none; width: 180px; height: 50px;}
	a.set_top_nismo:hover img {visibility: hidden;}
	/* strike */
	a.set_top_strike  {display: inline-block; background: url(img/strike_2.gif);}
	a.set_top_strike img {border: none; width: 180px; height: 50px;}
	a.set_top_strike:hover img {visibility: hidden;}
	/* NeoTune */
	a.set_top_neotune  {display: inline-block; background: url(img/neotune_2.gif);}
	a.set_top_neotune img {border: none; width: 180px; height: 50px;}
	a.set_top_neotune:hover img {visibility: hidden;}
	/* KONI */
	a.set_top_koni  {display: inline-block; background: url(img/koni_2.gif);}
	a.set_top_koni img {border: none; width: 180px; height: 50px;}
	a.set_top_koni:hover img {visibility: hidden;}
	/* ORC */
	a.set_top_orc  {display: inline-block; background: url(img/orc_2.gif);}
	a.set_top_orc img {border: none; width: 180px; height: 50px;}
	a.set_top_orc:hover img {visibility: hidden;}
	/* 戸田レーシング */
	a.set_top_toda_racing  {display: inline-block; background: url(img/toda_racing_2.gif);}
	a.set_top_toda_racing img {border: none; width: 180px; height: 50px;}
	a.set_top_toda_racing:hover img {visibility: hidden;}
	/* AXIS STYLING */
	a.set_top_axis_styling  {display: inline-block; background: url(img/axis_styling_2.gif);}
	a.set_top_axis_styling img {border: none; width: 180px; height: 50px;}
	a.set_top_axis_styling:hover img {visibility: hidden;}
	/* SPOON */
	a.set_top_spoon  {display: inline-block; background: url(img/spoon_2.gif);}
	a.set_top_spoon img {border: none; width: 180px; height: 50px;}
	a.set_top_spoon:hover img {visibility: hidden;}
}
