@charset "utf-8";

/* 共通部分 */
*.fitting_list {}
*.set_menu_hw {display: table; font-size: small;}
*.set_menu_hw1 {display: table-cell; width: 30px; text-align: right;}
*.set_menu_hw2 {display: table-cell;}
*.item_info_text_large {font-size: 120%; margin-left:15px; font-weight :bold;}
*.item_info_text_middle {font-size: middle; margin-left:15px;}
*.item_info_text_middle_b {margin-left:15px;font-weight :bold;}
*.noselect_car{text-align: center;font-size: 3vmin;}
*.item_caution {font-size: 70%;text-align: left;margin-left: 7px}
*.item_info_text {background-color: lightgray; padding: 3px;}
*.change_button img {vertical-align:text-bottom;width:30%;}
*.set_menu_n_info {padding: 5px;}
*.set_menu_n_info_title {font-weight: bold;}
*.set_menu_n_info_text {margin: 2px;}
*.set_menu_n_info_text_r {margin: 2px; text-align: right;}
*.set_menu_n_info_text_r0ff {margin: 2px; color: #0FF; text-align: right;}
*.set_menu_n_info_text_al {margin: 2px; text-align: right;}
*.set_menu_n_cell_0f0_b {font-weight: bold; color: #0F0; margin-bottom: 2px;}
*.set_menu_n_cell_0ff_b {font-weight: bold; color: #0FF; margin-bottom: 2px;}
*.set_menu_hr {height: 1px;}
*.text_top_m1 {margin-top: 1px;}
*.set_table_link_text {color: #FF0; font-size: small; text-align: right;}
*.set_youtube {margin: 5px auto; text-align: center;}
*.set_youtube_sp {margin: 5px auto; text-align: center;}
*.select_button{display: none;}
*.footer_shop_info {display: table;width: 100%;margin: 1px auto;font-size: small;font-weight: bold;text-align:center;}
*.search_category{color: black;text-align: center;font-size:2.5vmin;}
*.option_menu_text{background-color: white;padding: 0 3;margin: 4}
details summary::-webkit-details-marker {display: none;}
details summary {list-style: none; cursor: pointer;}

/* 罫線 */
*.set_menu_hr_100p {width: 100%; height: 1px; margin: 3px auto;}

/* 共通部分（基本テーブル） */
	*.set_menu_n {display: table; width: 730px; margin: 1px auto;}
	*.set_menu_n_130 {display: table-cell; vertical-align: top; width: 130px;}
	*.set_menu_n_200 {display: table-cell; vertical-align: top; width: 200px;}
	*.set_menu_n_225 {display: table-cell; vertical-align: top; width: 225px;}
	*.set_menu_n_300 {display: table-cell; vertical-align: top; width: 300px;}
	*.set_menu_n_330 {display: table-cell; vertical-align: top; width: 330px;}
	*.set_menu_n_330 img{width: 328px;}
	*.set_menu_n_330_order {display: table-cell; vertical-align: top; width: 330px;}
	*.img328 img{width: 328px;}
	*.set_menu_n_cell {display: table-cell; vertical-align: top; }
	*.set_menu_n_title {display: table; width: 730px;}
	*.set_menu_n_title_cell {display: table-cell; vertical-align: top; margin: 2px;}
	*.set_menu_n_title_150 {display: table-cell; width: 150px; vertical-align: top;}
	/* 2列テーブル */
	*.set_2way {display: table; width: 730px; margin: 3px auto;}
	*.set_2way_cell {display: table-cell; width: 50%; vertical-align: top;}
	*.set_2way_cell_sp_none {display: table-cell; width: 50%; vertical-align:top;}
	*.set_table_2way {width: 100%; color: #000; font-size: small; text-align: center; background-color: #FFF; border-collapse: collapse;}
	*.set_table_2way td {border: solid 1px #333; padding: 1px;}
	/* 3列テーブル */
	*.set_3way {display: table; width: 730px; margin: margin: 3px auto;}
	*.set_3way_cell {display: table-cell; width: 33%; vertical-align: top; text-align: center;}
    /* カテゴリー一覧 */
    .cat-banner{display:flex;flex-wrap:wrap;}
    .cat-banner li {
	width: calc(100%/3);/*←画像を横に4つ並べる場合*/
	padding:10px 15px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
    line-height:100%;
    text-align:center;
    list-style:none;
    }
    .cat-banner a{
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    .cat-banner li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
	border:solid 5px white; /*←画像を1pxのグレーの枠線で囲む*/
    }


 /* カテゴリー小 */
    .cat-banner_s{display:flex;flex-wrap:wrap;}
    .cat-banner_s li {
	width: calc(100%/3);/*←画像を横に4つ並べる場合*/
	padding-bottom:20px;
    padding-left:10px;
    padding-right:30px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
    line-height:100%;
    text-align:center;
    list-style:none;
    }
    .cat-banner_s a{
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    .cat-banner_s li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
	border:solid 5px gray; /*←画像を1pxのグレーの枠線で囲む指定の場合*/
    }

/* ブランド一覧 */
    .brand-banner{display:flex;flex-wrap:wrap;}
    .brand-banner li {
	width: calc(100%/4);/*←画像を横に4つ並べる場合*/
	padding:10px 15px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
    line-height:100%;
    text-align:center;
    list-style:none;
    }
    .brand-banner a{
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size:100%;
    }
    .brand-banner li img {
	max-width:120px; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
	border:solid 2px white; /*←画像を1pxのグレーの枠線で囲む指定の場合*/
    }




/* スマートフォン用CSS */
@media screen and (max-width: 479px) {
    *.main_table {margin: 0 auto;padding: 0 1px;width: 100%;max-width: 479px;}
    *.footer_back_left{display: none;}
    *.set_menu_n_cell{display: none;}
    *.item_info_sp {width: 100%; display: table-cell; vertical-align: top; }
    *.bc_blue {width: 100%;background-color: #000066;margin: 0 auto;}
    *.set_menu_n {display: table; width: 100%; margin: 1px auto;}
    *.set_menu_n_330 {display:table-cell;vertical-align: top; width: 100%;max-width: 90vw; text-align: center;}
    *.set_menu_n_330 img{width: 100%;max-width: 90vw;text-align: center;}
    *.sp_top_logo {width:100%;text-align: center;}
	*.sp_top_logo img {width:100%;height: auto;}
    *.top_logo_u {display: table;width:100%;margin: 1px auto;}
    *.sp_menu_box{width: 100%;height: auto;}
    div.header_bar {width: 100%;margin: 0 auto;text-align: center;}
    div.header_bar img{width: 100%;height: 5px;}
    td.matching_table_price{border-collapse: collapse;border:1px solid black;padding:2px; white-space: nowrap; font-size: 4vmin;text-align: right;font-weight: bold;color: red;}
    *.matching_table_price a{font-size:3vmin;font-weight:700;color: black;}
    *.set_sale_back{width:100%; max-width:479px;height: 100%;background-color: lightgray; padding: 1px; color: black; }
    *.main_item_table{width:100%;max-width: 479px;}
    *.sp_option_menu{font-size: 80%}
    *.option_caution{font-size:65%;}
    details summary::-webkit-details-marker {display: none;}
    details summary {list-style: none; cursor: pointer;}
    
    /* フッター */
    *.footer_back {background-color: black;width:100%;}
    .footer_sp {width:479px;text-align: center;}
	*.footer_shop_name {display:table-cell;width:50%;text-align:center;white-space: nowrap;}
	*.footer_shop_name a { display: block; width:100%; color: #0FF;}
    *.footer_shop_name a:hover { background-color:#000000; color: #F00; }
    *.footer_shop_tel{display: none;}
    /*.footer_shop_tel {display: table-cell;width:50%;text-align:left;font-size: 1vmin;white-space:nowrap;} */
    *.set_img{width:auto;}
    *.set_img img{width: 98%;text-align: center;}
    
    /* 商品画像 */
    .item_img{display:table-cell;max-width:500px;}
    .panel_area{background:#fff;width: 95%;}
    *.item_info_text_middle_b {font-size: middle;}
    *.item_info_text_small {width: 100%; font-size: 2.5vmin;text-align: right;white-space:nowrap;}
    
    /* ブランド紹介 */
    *.brand-info{display:table; width:98%; padding:3;background-color: darkgray;margin: 0 1;}
    *.brand-info-img{display:table-cell;width:25%; vertical-align:middle;}
    *.brand-info-img img{width:100%;}
    *.brand-info-txt{display: table-cell;width:70%; padding: 0 3;vertical-align: middle;background-color: ghostwhite;}
    *.brand-info-txt a{text-align:left; font-size:1.5vw;}

    
       /* ブランド商品一覧　*/
.item-banner-brand{
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size:80%;
        text-align: left;
        border: 100px;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding:0 3px;
        line-height:100%;
}
    .item-banner-item{
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size:80%;
        text-align: left;
        border: 100px;
        max-width: 159px;
        display: -webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
        overflow: hidden;
        text-overflow: ellipsis;
}
        /* 商品一覧 */
    .item-banner{display:flex;flex-wrap:wrap;}
    .item-banner ul {
	width: calc(100%/3);/*←画像を横に4つ並べる場合*/
	padding:8px 3px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
    line-height:100%;
    list-style:none;
    }
    
    .item-banner img {
	max-width:159px; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
	border:solid 1px gray; /*←画像を1pxのグレーの枠線で囲む指定の場合*/
    }
/* カテゴリー紹介 */
    .cat-info{display:table; width:95%; padding:10px;background-color: darkgray;}
    .cat-info-img{display:table-cell;width:25%; vertical-align:middle;}
    .cat-info-img img{width:100%;}
    .cat-info-txt{display: table-cell;width:70%;padding: 0 15px;vertical-align: middle;background-color: ghostwhite;}
    .cat-info-txt a{text-align: left; font-size: 2.5vmin;line-height:120%;}

        /* 横スクロール */

.scroll{
    display: table;
    display:inline-block;
    max-width: 95vw;
    width: 95vw;
    padding-left: 4px;
    overflow: scroll;　　　　/*tableをスクロールさせる*/
    white-space: nowrap;　　/*tableのセル内にある文字の折り返しを禁止*/
    }
.scroll table{width:100%;}
.scroll::-webkit-scrollbar{　　/*tableにスクロールバーを追加*/
    height: 10px;
    }
.scroll::-webkit-scrollbar-track{　　/*tableにスクロールバーを追加*/
    background: #F1F1F1;
    }
.scroll::-webkit-scrollbar-thumb {　　/*tableにスクロールバーを追加*/
    background: #BCBCBC;
    }

* 商品説明文 */
.tab_wrap{width:100%; max-width:470px; margin:5px auto; margin-left:3px;}
input[type="radio"]{display:none;}
.tab_area{font-size:0; margin:0 10px;}
.tab_area label{
    width:120px;
    margin:0 5px;
    display:inline-block;
    padding:12px 0;
    color:dimgray;
    background:#ddd;
    text-align:center;
    font-size:13px;
    cursor:pointer;
    transition:ease 0.2s opacity;
    }

    .tab_area label:hover{
    opacity:0.5;
    }

    .panel_area{
    width:95vw;
    max-width:95vw;
    margin:0 2;
    background:#fff;
    }

   .tab_panel{
    padding:2 2;
    display:none;
    }

    .tab_panel p{
        width:100%;
        font-size:14px;
        letter-spacing:1px;
        text-align:left;}

#tab1:checked ~ .tab_area .tab1_label{background:#fff; color:#000;}
#tab1:checked ~ .panel_area #panel1{display:block;}
#tab2:checked ~ .tab_area .tab2_label{background:#fff; color:#000;}
#tab2:checked ~ .panel_area #panel2{display:block;}
#tab3:checked ~ .tab_area .tab3_label{background:#fff; color:#000;}
#tab3:checked ~ .panel_area #panel3{display:block;}
#tab4:checked ~ .tab_area .tab4_label{background:#fff; color:#000;}
#tab4:checked ~ .panel_area #panel4{display:block;}

}

/* PC用CSS */
@media screen and (min-width: 480px) {
    *.top_logo_u {display:none;}
    *.set_sale_back {width: 750px;height: 100%;background-color: lightgray; margin: 0 auto; padding: 10px; color: black; }
    *.bc_blue {width: 100%; min-width: 940px;background-color: #000066;margin: 0 auto;}
    *.sp_top_logo{display:none;}
    *.sp_menu_box{display: none;}
    *.item_info_text_small {font-size: 80%;text-align: right;white-space:nowrap;}

    /* ヘッダーバー */
    div.header_bar {width: 100%;min-width: 940px;margin: 0 auto;text-align: center;}
    div.header_bar img {width: 100%;min-width: 940px;height: 5px;}
    *.item_info_sp{display: none;}
    
    /* フッター */
	*.footer_shop_name {display: table-cell;width:40%;text-align:right;}
	*.footer_shop_name a {color: #FFF;}
	*.footer_shop_name a:hover {color: #00F;}
    *.footer_shop_tel {display: table-cell;width:50%;text-align:left; white-space: nowrap;}
    *.footer_back {background-color: black;width: 100%; min-width: 940px;}
    *.footer_back_left{background-color: black;}
    *.main_item_table {margin: 0 auto;width: 943px;border-spacing: 1px;}
    *.item_info_text_middle_b {font-size: 1.7vmin;}
    td.matching_table_price{border-collapse: collapse;border:1px solid black;padding:2px; white-space: nowrap; font-size: 2.5vmin;text-align: right;font-weight: bold;color: red;}
    *.matching_table_price a{font-size:2.0vmin;font-weight: 1000;color: black;}
    *.sp_option_menu{display: none;}
    *.option_menu_text{font-size: 14px;}
    *.option_caution{font-size:80%;}
    
    /* ブランド紹介 */
    *.brand-info{display:table; width:95%; padding:10px;background-color: darkgray;}
    *.brand-info-img{display:table-cell;width:25%; vertical-align:middle;}
    *.brand-info-img img{width:100%;}
    *.brand-info-txt{display: table-cell;width:70%; padding: 0 15px;vertical-align: middle;background-color: ghostwhite;}
    *.brand-info-txt a{text-align: left; font-size:80%;}

    
       /* ブランド商品一覧　*/
.item-banner-brand{
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size:80%;
        text-align: left;
        border: 100px;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding:0 3px;
        line-height:100%;
}
    .item-banner-item{
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size:80%;
        text-align: left;
        border: 100px;
        max-width: 159px;
        display: -webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
        overflow: hidden;
        text-overflow: ellipsis;
}
    /* 商品一覧 */
    .item-banner{display:flex;flex-wrap:wrap;}
    .item-banner ul {
	width: calc(100%/4);/*←画像を横に4つ並べる場合*/
	padding:5px 5px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
    line-height:100%;
    list-style:none;
    }
    
    .item-banner img {
	max-width:180px; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
	border:solid 1px gray; /*←画像を1pxのグレーの枠線で囲む指定の場合*/
    }

    
/* カテゴリー紹介 */
    .cat-info{display:table; width:95%; padding:10px;background-color: darkgray;}
    .cat-info-img{display:table-cell;width:25%; vertical-align:middle;}
    .cat-info-img img{width:100%;}
    .cat-info-txt{display: table-cell;width:70%;padding: 0 15px;vertical-align: middle;background-color: ghostwhite;}
    .cat-info-txt a{text-align: left; font-size:100%;line-height:130%;}
    
    /* 横スクロール */
.scroll{
    display:inline-block;
    width: 100%;
    padding-left: 4px;
    overflow: scroll;　　　　/*tableをスクロールさせる*/
    white-space: nowrap;　　/*tableのセル内にある文字の折り返しを禁止*/
    }
.scroll::-webkit-scrollbar{　　/*tableにスクロールバーを追加*/
    height: 5px;
    }
.scroll::-webkit-scrollbar-track{　　/*tableにスクロールバーを追加*/
    background: #F1F1F1;
    }
.scroll::-webkit-scrollbar-thumb {　　/*tableにスクロールバーを追加*/
    background: #BCBCBC;
    }
    
/* 商品説明文 */
.tab_wrap{width:100%; max-width:470px; margin-left:5px;text-align: center;}
input[type="radio"]{display:none;}
.tab_area{font-size:0; margin:0 10px;}
.tab_area label{width:100px; margin:0 5px; display:inline-block; padding:10px 0; color:dimgray; background:#ddd; text-align:center; font-size:13px; cursor:pointer; transition:ease 0.2s opacity;}
.tab_area label:hover{opacity:0.5;}
.panel_area{background:#fff;}
.tab_panel{width:100%;min-width: 300px; max-width:440px;display:none;}
.tab_panel p{font-size:14px; letter-spacing:1px; text-align:left;padding:3px;}

#tab1:checked ~ .tab_area .tab1_label{background:#fff; color:#000;}
#tab1:checked ~ .panel_area #panel1{display:block;}
#tab2:checked ~ .tab_area .tab2_label{background:#fff; color:#000;}
#tab2:checked ~ .panel_area #panel2{display:block;}
#tab3:checked ~ .tab_area .tab3_label{background:#fff; color:#000;}
#tab3:checked ~ .panel_area #panel3{display:block;}
#tab4:checked ~ .tab_area .tab4_label{background:#fff; color:#000;}
#tab4:checked ~ .panel_area #panel4{display:block;}

}
 

/* 適合検索 */
.matching_search{table-layout: auto;}

/* 適合表 */
    .matching_table_all{
        display: table;
        word-break: break-all;
        word-wrap: break-all;
        color: black;
        border-collapse: collapse;
        border:1px solid black;
        background:white;
}
    .matching_table_all tr:nth-child(even) {
        background: #eee;
}
    table.matching_table_all th{
        background-color: #333333;
        color: white;
        border-collapse: collapse;
        border:1px solid black;
        white-space: nowrap;
        padding-left:3px;
        padding-right:3px;
        font-size: 2vmin;
}
    table.matching_table_all td{
        border-collapse: collapse;
        border:1px solid black;
        white-space: nowrap;padding-left:5px;
        padding-right:5px;
        padding-top: 3px;
        padding-bottom: 3px;
}
    .matching_table{
        
        width: 100%;
        padding:2px;
        color: black;
        font-size: 1.7vmin;
}
    td.matching_table_cell{
        border-collapse: collapse;
        border:1px solid black;padding:2px; 
        white-space: nowrap; 
        font-size: 1.5vmin;
}



