@charset "utf-8";
/* 偽サイトに関する注意ページ用 */

/* スマートフォン用CSS */
@media screen and (max-width: 479px) {
	*.dummy_box {width: 99%; margin: 5px auto; padding: 3px; background-color: #FFF; color: #000;}
	*.dummy_title {font-size: large; font-weight: bold; padding: 3px;}
	*.dummy_text {padding: 3px 10px; font-size: small;}
	*.dummy_text_s_sp {padding: 5px 10px; font-size: small;}
	*.dummy_a_bar_sp {padding-top: 1px; padding-left: 10px; padding-bottom: 3px;}
	*.dummy_a_bar_sp img{width: 100%; height: auto;}
	*.dummy_text_s_pc {display: none;}
	*.dummy_a_bar_pc {display: none;}
}


/* PC用CSS */
@media screen and (min-width: 480px) {
	*.dummy_box {width: 730px; margin: 5px auto; padding: 3px; background-color: #FFF; color: #000;}
	*.dummy_title {font-size: large; font-weight: bold; padding: 3px;}
	*.dummy_title_hr {width: 100%;}
	*.dummy_text {padding: 3px 10px;}
	*.dummy_hr {width: 100%; hight: 1px;}
	*.dummy_text_s_pc {padding: 5px 10px; font-size: small;}
	*.dummy_a_bar_pc {padding-top: 1px; padding-left: 10px; padding-bottom: 3px;}
	*.dummy_text_s_sp {display: none;}
	*.dummy_a_bar_sp {display: none;}
}